{% extends 'base.html' %}
{% load static %}
{% block body %}
    <section class="h-100 gradient-custom-2">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-lg-9 col-xl-7">
                    <div class="card">
                        <div class="rounded-top text-white d-flex flex-row"
                             style="background-image: url({% static "images/Background-Narrow.jpg" %})">
                            <div class="ms-4 mt-2 d-flex flex-column" style="width: 150px;">
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp"
                                     alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2"
                                     style="width: 150px; z-index: 1">

                                {% if object.user.is_movie_director %}
                                    <form action="{% url 'edit-movie-director' object.slug %}">
                                {% elif request.user.is_actor %}
                                    <form action="{% url 'edit-actor' object.slug %}">
                                {% elif request.user.is_regular_user %}
                                    <form action="{% url 'edit-profile' object.slug %}">
                                {% endif %}
                                {% if request.user  == object.user %}
                                    {% if object.get_full_name %}

                                        <button class="btn btn btn-outline-success" data-mdb-ripple-color="dark"
                                                style="z-index: 2;">
                                            Edit profile
                                        </button>

                                    {% else %}
                                        <button class="btn btn btn-outline-warning" data-mdb-ripple-color="dark"
                                                style="z-index: 2;">
                                            Complete profile
                                        </button>
                                    {% endif %}
                                {% endif %}
                                </form>

                            </div>
                            <div class="ms-3" style="margin-top: 90px;">
                                {% if object.birth_date %}
                                    {{ object.birth_date }}<br>
                                {% endif %}
                                {% if object.get_full_name %}
                                    {{ object.get_full_name }}
                                {% endif %}
                                <h6>Username: {{ object.user.username }}</h6>
                            </div>

                        </div>
                        {% if object.user.is_movie_director %}
                            {% include 'user/partials/movie_director/atributes.html' with overall_rating=overall_rating like=like movies_count=movies_count %}
                        {% endif %}
                        {% if object.user.is_actor %}
                        {% endif %}
                        {% if object.user.is_regular_user %}
                        {% endif %}

                        {% if object.user.is_movie_director or object.user.is_actor %}
                            {% include 'user/partials/movie_crew/body-description.html' with object=object %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}