{% extends 'base.html' %}
{% load static %}
{% load user_type %}
{% load cloudinary %}
{% block body %}

    <section>
        <div class="container my-5 py-5">
            <div class="row d-flex justify-content-center">
                <div class="col-md-12 col-lg-10">
                    <div class="card text-dark">
                        <div class="card-body p-4">
                            <div style="display: inline-block">
                                <h1 class="mb-0"><a href="{% url 'movie-details' movie.slug %}">{{ movie.title }}</a></h1>
                            <p class="fw-light mb-4 pb-2">Reviews section by users</p>
                                <form action="{% url 'movie-reviews' movie.slug %}" style="margin-top: -20px">

                                    <label for="">Sort by :
                                        <select name="order_by" id="">
                                            <option value="likes">Likes</option>
                                            <option value="posted_on">Latest</option>
                                        </select>
                                        <button class="btn btn-sm btn-danger"></button>
                                    </label>

                                </form>

                            </div>
                            <hr>

                            {% for review in reviews %}
                                <div id="{{ review.id }}" class="d-flex flex-start">
                                    {% if review.user|profile_picture %}
                                        {% cloudinary review.user|profile_picture width="150" height="150" %}
                                    {% else %}
                                        <img class="rounded-circle shadow-1-strong me-3"
                                             src="{% static 'images/user-profile.png' %}"
                                             alt="avatar" width="150"
                                             height="150"/>
                                    {% endif %}
                                    <div>
                                        <h6 class="fw-bold mb-1"><a
                                                href="{% url review.user|profile_details_url review.user|profile_slug %}">{{ review.user|profile_name }}</a>
                                        </h6>
                                        <div class="d-flex align-items-center mb-3">
                                            <p class="mb-0">
                                                {{ review.posted_on }}
                                            </p>
                                            {% if request.user == review.user %}
                                                <div style="padding-left: 550px">
                                                    <form action="{% url 'delete-review' review.pk %}" method="post">
                                                        <button class="btn btn-danger btn-sm">delete</button>
                                                        {% csrf_token %}
                                                    </form>
                                                </div>
                                            {% endif %}


                                        </div>
                                        <p class="mb-0" style="margin-top: -20px">
                                            Review score: <span class="badge bg-primary">{{ review.rating }}</span>
                                        </p>
                                        <p class="mb-0">
                                            Review: {{ review.review }}
                                        </p>
                                        <form action="{% url 'like-review' review.pk %}" style="padding-top: 20px">
                                            {% if review not in user_liked_reviews %}
                                                <button class="btn btn-block btn-primary btn-sm"><i
                                                        class="fa-thumbs-up">Like</i>
                                                </button>
                                                <span style="padding-left: 5px">likes: {{ review.reviewlike_set.all.count }}</span>
                                            {% else %}
                                                <button class="btn btn-block btn-primary btn-sm"><i
                                                        class="fa-thumbs-up">Dislike</i>
                                                </button>
                                                <span style="padding-left: 5px">likes: {{ review.reviewlike_set.all.count }}</span>
                                            {% endif %}
                                        </form>
                                    </div>
                                </div>
                                <hr class="my-0"/>

                            {% endfor %}

                        </div>


                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}