{% load cloudinary %}
<div class="card-body p-4 text-black">

    {# filmography and biography section #}
    <div class="mb-5">
        <p class="lead fw-normal mb-1">Biography</p>
        <div class="p-2" style="background-color: #f8f9fa;">
            {% if object.biography %}
                {{ object.biography }}
            {% else %}
                None added
            {% endif %}
        </div>
    </div>
    <div class="mb-5">
        <p class="lead fw-normal mb-1">Filmography</p>
        <div class="p-2" style="background-color: #f8f9fa;">
            {% if object.filmography %}
                {{ object.filmography }}
            {% else %}
                None added
            {% endif %}
        </div>
    </div>


    {# recent movies section #}
    <div class="d-flex justify-content-between align-items-center mb-4">
        <p class="lead fw-normal mb-0">Recent Movies</p>
    </div>
    {% if recent_movies %}
        <div class="row g-2">
            {% for movie in recent_movies|slice:':2' %}
                <div class="col mb-2">
                    {% cloudinary movie.movie_poster width=250 height=300 %}
                    <div style="padding-top: 5px; display: flex;">
                        <form action="{% url 'movie-details' movie.slug %}">
                            <button class="btn btn-danger">Details</button>
                        </form>
                        <form action="{% url 'movie-reviews' movie.slug %}">
                            <button class="btn btn-danger">Reviews</button>
                        </form>

                        <h5 style="padding-left: 10px;">
                            Rating: {{ movie.averagereviewscore.score|floatformat:2 }}</h5>
                    </div>

                </div>

            {% endfor %}
        </div>
        <div class="row g-2">
            {% for movie in recent_movies|slice:'2:4' %}
                <div class="col mb-2">
                    {% cloudinary movie.movie_poster width=250 height=300 %}
                    <div style="padding-top: 5px; display: flex;">
                        <form action="{% url 'movie-details' movie.slug %}">
                            <button class="btn btn-danger">Details</button>
                        </form>
                        <form action="{% url 'movie-reviews' movie.slug %}">
                            <button class="btn btn-danger">Reviews</button>
                        </form>
                        <h5 style="padding-left: 10px;">
                            Rating: {{ movie.averagereviewscore.score|floatformat:2 }}</h5>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <h2>None</h2>
    {% endif %}

</div>
