<div class="p-4 text-black" style="background-color: #f8f9fa;">
    <div class="d-flex">
        <div class="p-1">
            <p class="small text-muted mb-0">Stars in</p>

            <p class="mb-1 h3">{{ stars_in.count }} Movies</p>
        </div>

        <div class="p-1">
            <p class="small text-muted mb-0" style="padding-left: 20px">Best known for</p>

            <p class="mb-1 h3" style="padding-left: 20px"><a
                    href="{% url 'movie-details' known_for.slug %}">{{ known_for.title }}</a></p>
        </div>
    </div>
</div>