<div class="p-4 text-black" style="background-color: #f8f9fa;">
    <div class="d-flex">
        <div class="p-1">
            <p class="mb-1 h3">{{ movie_count }}</p>
            <p class="small text-muted mb-0">Movies</p>
        </div>
        <div class="p-1">
            <p class="mb-1 h3">{{ likes }}</p>
            <p class="small text-muted mb-0">Total Likes</p>
        </div>
        <div class="ml-auto p-1">
            <p class="mb-1 h3">{{ overall_rating|floatformat:1 }}</p>
            <p class="small text-muted mb-0">Average rating</p>
        </div>
    </div>
</div>