<style>
    @media (min-width: 1025px) {
        .h-custom {
            height: 100vh !important;
        }
    }

    .card-registration .select-input.form-control[readonly]:not([disabled]) {
        font-size: 1rem;
        line-height: 2.15;
        padding-left: .75em;
        padding-right: .75em;
    }

    .card-registration .select-arrow {
        top: 13px;
    }

    .bg-indigo {
        background-color: darkred;
    }

    .bg-indigo2 {
        background-color: honeydew;
    }


    .card-registration-2 .bg-indigo {
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
    }

    .card-registration .bg-indigo2 {
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }


    .card-registration-2 .bg-indigo {
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }

    .card-registration .bg-indigo2 {
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }


    .form-control, .form-control:focus {
        padding: 5px;
        background-color: black;
        color: rgba(177, 177, 177, .8);
        border: none;
        border-radius: 8px;
    }


</style>
<section class="h-100 h-custom gradient-custom-2">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12">
                <div class="card card-registration card-registration-2" style="border-radius: 15px;">
                    <form action="{% url 'add-movie' %}" method="post" enctype="multipart/form-data">

                        <div class="card-body p-0">
                            <div class="row g-0">
                                <div class="col-lg-6 bg-indigo2 text-white">

                                    <div class="p-5">
                                        <h3 class="fw-normal mb-5" style="color: #000000;">Upload Movie Details</h3>

                                        <div class="row">
                                            <div class="col-md-6 mb-4 pb-2">


                                                <div class="form-outline">
                                                    {{ form.title }}
                                                </div>


                                            </div>
                                            <div class="col-md-6 mb-4 pb-2">

                                                <div class="form-outline">
                                                    {{ form.release_date }}
                                                </div>


                                            </div>
                                        </div>


                                        <div class="mb-4 pb-2">
                                            <div class="form-outline">
                                                {{ form.description }}
                                                <p style="color:black;">{{ form.description.help_text }}</p>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6 mb-4 pb-2">


                                                <div class="form-outline">
                                                    {{ form.age_restriction }}
                                                </div>


                                            </div>
                                            <div class="col-md-6 mb-4 pb-2">

                                                <div class="form-outline">
                                                    {{ form.movie_length }}
                                                    <p style="color:black;">{{ form.movie_length.help_text }}</p>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-lg-6 bg-indigo text-white">
                                    <div class="p-5">

                                        <div class="row">
                                            <div class="mb-4 pb-2">
                                                <div class="form-outline form-white">
                                                    <h5>Movie poster</h5>

                                                    {{ form.movie_poster }}
                                                </div>
                                            </div>
                                            <div class="col-md-6 mb-4 pb-2 mb-md-0 pb-md-0">

                                                <div class="form-outline">
                                                    <div><h5>Actors<span style="padding-left: 150px; color: yellow"
                                                                         title="To add your crew , first they should register their own accounts as actors">?</span>
                                                    </h5></div>

                                                    {{ form.actors }}


                                                </div>

                                            </div>
                                            <div class="col-md-6">
                                                <div><h5>Movie Genres<span style="padding-left: 60px; color: yellow"
                                                                           title="If you do not see your movie genre you can add it, through the administration">?</span>
                                                    <span><a href="{% url 'admin:index' %}">+</a></span>
                                                </h5></div>
                                                {{ form.genres }}

                                            </div>
                                            <div style="padding-top: 20px">
                                                <h6>To select multiple items in a list, hold down the Ctrl</h6></div>
                                        </div>

                                        {% if edit %}
                                            <button class="btn btn-light btn-lg"
                                                    data-mdb-ripple-color="dark">Save
                                            </button>
                                        {% else %}
                                            <button class="btn btn-light btn-lg"
                                                    data-mdb-ripple-color="dark">Upload
                                            </button>
                                        {% endif %}
                                        {% csrf_token %}
                                        {% if form.errors %}
                                            <div style="padding-top: 5px">

                                                {% for field in form %}
                                                    {% for error in field.errors %}
                                                        <div class="alert alert-danger">
                                                            <strong>{{ field.label }}</strong>:
                                                            <strong>{{ error|escape }}</strong>
                                                        </div>
                                                    {% endfor %}
                                                {% endfor %}

                                                {% for error in form.non_field_errors %}
                                                    <div class="alert alert-danger">
                                                        <strong>{{ error|escape }}</strong>
                                                    </div>
                                                {% endfor %}

                                            </div>
                                        {% endif %}

                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
